In [1]:
def mul_or_sum(num1, num2):
    product = num1 * num2
    if product < 100:
        return product
    else:
        return num1 + num2
mul_or_sum(10, 100)

110

In [2]:
previous_num = 0
for i in range(1, 11):
    x_sum = previous_num + i
    print('current num is', i, 'previous_num is', previous_num, 'sum is', x_sum )
    previous_num = i

current num is 1 previous_num is 0 sum is 1
current num is 2 previous_num is 1 sum is 3
current num is 3 previous_num is 2 sum is 5
current num is 4 previous_num is 3 sum is 7
current num is 5 previous_num is 4 sum is 9
current num is 6 previous_num is 5 sum is 11
current num is 7 previous_num is 6 sum is 13
current num is 8 previous_num is 7 sum is 15
current num is 9 previous_num is 8 sum is 17
current num is 10 previous_num is 9 sum is 19

In [3]:
# Print characters from a string that are present at an even index number
my_str = "prathyusha"
type(my_str)

str

In [4]:
my_str[0::2]

'pahuh'

In [5]:
x = len(my_str)
x

10

In [6]:
for i in range(0, x-1, 2):
    
    print(i, my_str[i])

0 p
2 a
4 h
6 u
8 h

In [7]:
li = list(my_str)
li

['p', 'r', 'a', 't', 'h', 'y', 'u', 's', 'h', 'a']

In [8]:
li[0::2]

['p', 'a', 'h', 'u', 'h']

In [9]:
for i in li[0::2]:
    print(i)

p
a
h
u
h

In [10]:
str1 = 'pynative'
str1[0::2]

'pntv'

In [11]:
str1[-4:]

'tive'

In [12]:
str1[2:]

'native'

In [13]:
def first_last(numberlist):
    first_num = numberlist[0]
    last_num = numberlist[-1]
    if first_num == last_num:
        return True
    else:
        return False
first_last([10, 20, 30, 40, 10])

True

In [14]:
first_last([75, 65, 35, 75, 30])

False

In [15]:
x = [10, 20, 33, 46, 55]
y = []
for i in x:
    if i%5 == 0:
        y.append(i)
y

[10, 20, 55]

In [16]:
#Return the count of a given substring from a string
str_x = "Emma is good developer. Emma is a writer"
print("Emma appeared", str_x.count('Emma'), 'times')

Emma appeared 2 times

In [17]:
for i in range(6):
#     print(i)
    for j in range(i):

        print(i, end=' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [18]:
num = 121
number = num
reverse_num = 0
while number > 0:
    remainder = number % 10
    reverse_num = reverse_num * 10 + remainder
    number = number // 10
if num == reverse_num:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [19]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
new_list1 = [i for i in list1 if i%2 != 0]
new_list1
new_list2 = [i for i in list2 if i%2 == 0]
new_list2

[40, 60, 90]

In [20]:
new_list = new_list1+new_list2
new_list

[25, 35, 40, 60, 90]

In [21]:
list3 = []
for i in list1:
    if i%2 != 0:
        list3.append(i)
for i in list2:
    if i%2 == 0:
        list3.append(i)
list3

[25, 35, 40, 60, 90]

In [22]:
# Write a Program to extract each digit from an integer in the reverse order.
num = 78569
num1 = str(num)
num1

'78569'

In [23]:
num1[::-1]

'96587'

In [24]:
while num > 0:
    digit = num % 10
    num = num // 10
    print(digit)

9
6
5
8
7

In [25]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i, "*", j, "=", i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [26]:
for i in range(6, 0, -1):
    for j in range(0, i-1):
        print('*', end=' ')
    print('\t')

* * * * *
* * * *
* * *
* *
*

# loop exercises

In [27]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [29]:
row = 5
for i in range(1, row+1, 1):
    print(i)

1
2
3
4
5

In [30]:
for i in range(1, 6, 1):
#     print(i)
      for j in range(1, i + 1):
        print(j, end=' ')
      print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [31]:
for i in range(6, 0, -1):
#     print(i)
    for j in range(1, i-1):
#         print(j)
        print(j, end=" ")
    print("\n ")

1 2 3 4

1 2 3

1 2

1

In [32]:
#Calculate the sum of all numbers from 1 to a given number
x = 0
for i in range(11):
    x += i
print(x)

55

In [33]:
x = sum(range(1, 11))
x

55

In [34]:
#Write a program to print multiplication table of a given number
for i in range(1,3):
    for j in range(1, 11):
        print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20

In [35]:
num = 2
for i in range(1, 11):
    print(num * i)

2
4
6
8
10
12
14
16
18
20

In [36]:
list1 = [12, 75, 150, 180, 145, 525, 50]
for i in list1:
    if i>500:
        break
    elif (i>150):
        continue
    elif(i%5==0):
        print(i)

75
150
145

In [37]:
#count the total number of digits in a number
num = 78956
count = 0
for i in str(num):
    count += 1

In [38]:
count

5

In [39]:
num = 145896
count = 0
while num != 0:
    num = num // 10
    count += 1
count

6

In [40]:
145896 // 10

14589

In [41]:
14589//10

1458

In [42]:
1458//10

145

In [43]:
145//10

14

In [44]:
14//10

1

In [45]:
1//10

0

In [46]:
for i in range(5, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('\n')

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [47]:
#Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
for i in (list1[::-1]):
    print(i)

50
40
30
20
10

In [48]:
new_list = reversed(list1)
new_list

In [49]:
for i in new_list:
    print(i)

50
40
30
20
10

In [50]:
size = len(list1) - 1 
size

4

In [51]:
for i in range(size, -1, -1):
    print(list1[i])

50
40
30
20
10

In [52]:
#Display numbers from -10 to -1 using for loop
for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [53]:
for i in range(5):
    print(i)
else:
    print('Done')

0
1
2
3
4
Done

In [54]:
#prime numbers
for i in range(25, 51):
    if i > 1:
        for j in range(2, i):
            if(i %j == 0):
                break
        else:
            print(i)

29
31
37
41
43
47

In [55]:
#fibonacci series
num1 = 0
num2 = 1
for i in range(10):
    print(num1, end="  ")
    res = num1+ num2
    num1 = num2
    num2 = res

0  1  1  2  3  5  8  13  21  34

In [56]:
#factorial
num = 5
fact = 1
for i in range(1, num+1):
    fact = fact*i
print('factorial of', num, 'is', fact)

factorial of 5 is 120

In [57]:
import math
math.factorial(num)

120

In [61]:
#Reverse a given integer number
num = 78569

reverse_num = 0
while num > 0:
    remainder = num % 10
    reverse_num = reverse_num * 10 +remainder
    num = num // 10
print(reverse_num)

96587

In [62]:
#Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i)

20
40
60
80
100

In [67]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [72]:
count = 0
for i in range(11):
    count += i
count

55

In [73]:
x = sum(range(1, 11))
x

55

In [74]:
n = 2
for i in range(1, 11):
    print(n, '*', i, '=', n*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [75]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i>500:
        break
    elif i>150:
        continue
    elif i%5 == 0:
        print(i)

75
150
145

In [76]:
num = 75896
count = 0
while num > 0:
    num = num // 10
    count += 1
count

5