In [1]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
x = [1, 2, 3, 4, 5, 8]
len(x)
# for i in x:
#     print(x[i] )

6

In [3]:
x[0]

1

In [4]:
for i in x:
    print(x[i])

2
3
4
5
8

IndexError: list index out of range

In [ ]:
lang = ['python', 'java', 'react']
i = 0 
while i <= len(lang):
    print(lang[i])
    i += 1

In [ ]:
lang = ['python', 'java', 'react']
i = 0 
while i < len(lang):
    print(lang[i])
    i += 1

In [ ]:
languages = ['c', 'c++', 'php']
for i in languages:
    print(languages[i])

In [5]:
a = 10
b = 20
print(a+ b)

30

In [6]:
a*b

200

In [7]:
a/b

0.5

In [8]:
a-b

-10

In [9]:
def mul_or_sum(a, b):
    product = a * b
    if product <= 100:
        return product
    else:
        return a + b
mul_or_sum(20, 90)

110

In [10]:
#Print the sum of the current number and the previous number
previous_num = 0
for i in range(0,11):
    x_sum = previous_num + i
    print('current num is', i, 'previous num is', previous_num, 'sum is', x_sum)
    previous_num = i

current num is 0 previous num is 0 sum is 0
current num is 1 previous num is 0 sum is 1
current num is 2 previous num is 1 sum is 3
current num is 3 previous num is 2 sum is 5
current num is 4 previous num is 3 sum is 7
current num is 5 previous num is 4 sum is 9
current num is 6 previous num is 5 sum is 11
current num is 7 previous num is 6 sum is 13
current num is 8 previous num is 7 sum is 15
current num is 9 previous num is 8 sum is 17
current num is 10 previous num is 9 sum is 19

In [12]:
#Print characters from a string that are present at an even index number
str1 = "pynative"
for i in str1:
    print(i)

p
y
n
a
t
i
v
e

In [13]:
len(str1)

8

In [14]:
for i in range(0,9,2):
    print(i)

0
2
4
6
8

In [15]:
word = list(str1)
word

['p', 'y', 'n', 'a', 't', 'i', 'v', 'e']

In [16]:
for i in word[0::2]:
    print(i)

p
n
t
v

In [17]:
size =len(str1)
size

8

In [18]:
for i in range(0, size-1, 2):
    print(word[i])

p
n
t
v

In [19]:
str1 = 'pynative'

In [20]:
str1[-4:]

'tive'

In [21]:
str1[2:]

'native'

In [22]:
def remove_chrs(word, n):
    return word[n:]

remove_chrs("pynative", 2)

'native'

In [23]:
#Check if the first and last number of a list is the same
x = [10, 20, 30, 40, 10]
y = [75, 65, 35, 75, 30]

In [24]:
x[0] == x[-1]

True

In [25]:
y[0] == y[-1]

False

In [26]:
def first_last_same(numberlist):
    first_num = numberlist[0]
    last_num = numberlist[-1]
    if first_num == last_num:
        return True
    else:
        return False
x = [10, 20, 30, 40, 10]
y = [75, 65, 35, 75, 30]
first_last_same(x)
first_last_same(y)

False

In [27]:
# Display numbers divisible by 5 from a list
x = [10, 20, 33, 46, 55]
for i in x:
    if i%5 == 0:
        print(i)

10
20
55

In [28]:
#Write a program to find how many times substring “Emma” appears in the given string.
str_x = "Emma is good developer. Emma is a writer"
print('Emma appears', str_x.count('Emma'),'times')

Emma appears 2 times

In [29]:
# Print the following pattern
for num in range(6):
#     print(num)
    for j in range(num):
#         print(j)
        print(num, end=' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [30]:
#Write a program to check if the given number is a palindrome number.
num = 121
type(num)

int

In [31]:
x = str(num)
x

'121'

In [32]:
x[::-1]

'121'

In [34]:
if int(x) == num:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [42]:
num = 121
number = num
reverse_num = 0
while number > 0:
    reverse_num = reverse_num * 10 + number % 10
    number = number // 10
    print(reverse_num)
if num == reverse_num:
    print('palindrome')
else:
    print('not palindrome')

1
12
121
palindrome

In [39]:
121%10

1

In [40]:
1 //10

0

In [43]:
#Create a new list from a two list using the following condition
#new list should contain odd numbers from the first list and even numbers from the second list.
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

In [47]:
list3 = []
for i in list1:
    if i%2 != 0:
        list3.append(i)
for j in list2:
    if j%2 == 0:
        list3.append(j)
list3

[25, 35, 40, 60, 90]

In [48]:
#Write a Program to extract each digit from an integer in the reverse order.
num= 7536
type(num)

int

In [49]:
x = str(num)
x

'7536'

In [52]:
print(x[::-1])

6357

In [56]:
num = 7536
while num > 0:
    digit = num % 10
    num = num // 10
    print(digit, end=" ")

6 3 5 7

In [70]:
#Print multiplication table form 1 to 10
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
      
    print("\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [74]:
# Print downward Half-Pyramid Pattern with Star
for i in range(6, 0, -1):
    print(i)
    for j in range(0, i-1):
        print(j)
        print("*", end=" ")
    print(" ")

6
0
* 1
* 2
* 3
* 4
*
5
0
* 1
* 2
* 3
*
4
0
* 1
* 2
*
3
0
* 1
*
2
0
*
1

In [86]:
for i in range(6, 0, -1):
#     print(i)
    for j in range(0, i - 1):
        print("*", end=' ')
    print(' ')

* * * * *
* * * *
* * *
* *
*

# # nested loops

In [103]:
for i in range(5, -1, -1):
    print(i)
    for j in range(0, i-1):
        print("*")

5
*
*
*
*
4
*
*
*
3
*
*
2
*
1
0

In [100]:
x = [1, 2]
y = [4, 5]
for i in x:
    for j in y:
        print(i, j)

1 4
1 5
2 4
2 5

In [101]:
col = ['red', 'yellow', 'pink']
fruits = ['apple', 'banana', 'cherry', 'kiwi']
for i in col:
    for j in fruits:
        print(i, j)

red apple
red banana
red cherry
red kiwi
yellow apple
yellow banana
yellow cherry
yellow kiwi
pink apple
pink banana
pink cherry
pink kiwi

In [104]:
for i in range(5):
    for j in range(6):
        print(i, j)

0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5
3 0
3 1
3 2
3 3
3 4
3 5
4 0
4 1
4 2
4 3
4 4
4 5

In [11]:
my_str = '20-number_1'
a = int(my_str.split('-')[0])

In [12]:
a

20

In [7]:
a[0]

'20'

In [8]:
int(a[0])

20