In [1]:
#Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)
nl = []
for i in range(1500, 2700):
    if (i %7 == 0) and (i%5 == 0):
        nl.append(i)
nl

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

In [7]:
#print * pattern
n = 5

for i in range(n):
    for j in range(i):
        print('*', end=' ')
    print('\n')
for i in range(n, 0, -1):
    for j in range(i):
        print('*', end=' ')
    print('\n')

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [8]:
#Write a Python program that accepts a word from the user and reverse it.
word = "prathyusha"
word[::-1]

'ahsuyhtarp'

In [9]:
for i in range(len(word)-1, -1, -1):
    print(word[i])

a
h
s
u
y
h
t
a
r
p

In [17]:
#Write a Python program to count the number of even and odd numbers from a series of numbers.
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
count_even = 0
count_odd = 0
for i in numbers:
    if i%2 == 0:
        count_even += 1
    else:
        count_odd += 1
print('even numbers are', count_even)

print('odd numbers are', count_odd)

even numbers are 4
odd numbers are 5

In [19]:
# Write a Python program that prints each item and its corresponding type from the following list.
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [23]:
for i in datalist:
    print(i, type(i))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
w3resource <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

In [27]:
#Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
for i in range(0, 7):
    if (i == 3) or (i == 6):
        continue
    print(i)

0
1
2
4
5

In [30]:
# Write a Python program to get the Fibonacci series between 0 to 50
num1 = 0
num2 = 1
for i in range(0, 10):
    print(num1, end=' ')
    res = num1 + num2
    num1 = num2
    num2 = res
    print(i)

0 0
1 1
1 2
2 3
3 4
5 5
8 6
13 7
21 8
34 9

In [31]:
#Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz".
#For numbers which are multiples of both three and five print "FizzBuzz".

In [42]:
list1  = []
for i in range(1, 50):
    if (i%3 == 0) and (i%5 == 0):
        print("Fizzbuzz")
        continue
    elif i%3 == 0:
        print("Fizz")
        continue
    elif i%5 == 0:
        print("Buzz")
        continue
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizzbuzz
46
47
Fizz
49

In [43]:
#Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input and print the numbers that are divisible by 5 in a comma separated sequence.

In [47]:
li = []
num = [x for x in input().split(',')]
for p in num:
    x = int(p, 2)
    if not x%5:
        li.append(p)
print(','.join(li))

1001

In [48]:
#Write a Python program that accepts a string and calculate the number of digits and letters
my_str = "python 3.2"
len(my_str)

10

In [51]:
d = 0
l = 0
for ch in my_str:
    if ch.isdigit():
        d += 1
    elif ch.isalpha():
        l += 1
print('digits are', d, 'letters are', l)

digits are 2 letters are 6

In [52]:
#Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

In [56]:
li = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2 == 0) and (int(s[1])%2==0) and (int(s[2])%2 == 0):
        li.append(s)
print(",".join(li))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [60]:
# Write a Python program to create the multiplication table (from 1 to 10) of a number. 
# for i in range(1, 11):

for i in range(1,11):
    for j in range(1, 11):
        print(i, '*', j, '=', i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [61]:
n=5
for i in range(1, 11):
    print(n, '*', i, '=', n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [66]:
for i in range(10):
#     print(str(i))
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [72]:
#Write a Python program to display the first and last colors from the following list. Go to the editor
color_list = ["Red","Green","White" ,"Black"]
color_list[0],color_list[-1]

('Red', 'Black')

In [75]:
color_list[0::3]

['Red', 'Black']

In [76]:
list1 = []
for i in range(1, 100):
    list1.append(i)
list1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [77]:
list2 = []
for i in range(100, 0, -1):
    list2.append(i)
list2

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [78]:
li1 = []
for i in range(1, 11):
    li1.append(i)
li1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
li2 = []
for i in range(11, 21):
    li2.append(i)
li2

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [82]:
li3 = []
for i in range(0, 10):
    li3.append(li1[i]+li2[i])
li3

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [84]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [85]:
# Write a Python program to sum all the items in a list.
li3

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [86]:
sum(li3)

210

In [87]:
my_list = [1, 2, 3, 4, 5, 6]
sum(my_list)

21

In [90]:
x = 0
for i in my_list:
    
    x += i
print(x)

21

In [92]:
def sum_list(li):
    x = 0
    for i in li:
        x+=i
    return x
sum_list([2, 4, 6, 8])

20

In [94]:
#Write a Python program to multiply all the items in a list
def mul_list(li):
    x = 1
    for i in li:
        x*=i
    return x
mul_list([2, 4, 6, 8])

384

In [95]:
2*4*6*8

384

In [96]:
li =  ['abc', 'xyz', 'aba', '1221']
type(li)

list

In [109]:
count = 0
for word in li:
    if len(word) > 1 and word[0] == word[-1]:
        count += 1
print(count)

2

In [101]:
li[0]

'abc'

In [111]:
li2 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
li2.sort()
li2

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [113]:
a = [1, 2, 2, 5, 4, 4, 3, 1]
set(a)

{1, 2, 3, 4, 5}

In [119]:
x = []
for i in range(len(a)):
    if a[i] not in x:
        x.append(a[i])
x

[1, 2, 5, 4, 3]

In [121]:
x.sort()
x

[1, 2, 3, 4, 5]

In [118]:
b = [10,20,30,20,10,50,60,40,80,50,40]
c = []
for i in range(len(b)):
    if b[i] not in c:
        c.append(b[i])
c

[10, 20, 30, 50, 60, 40, 80]

In [123]:
#list is empty or not
li = []
if not li:
    print('empty')
else:
    print('not empty')

empty

In [124]:
if not a:
    print('empty')
else:
    print('not empty')

not empty

In [125]:
str1 = "The quick brown fox jumps over the lazy dog"
x = str1.split(" ")
x

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [128]:
y = []
for word in x:
    print(word)
    if len(word) > 3:
        y.append(word)
y

The
quick
brown
fox
jumps
over
the
lazy
dog

['quick', 'brown', 'jumps', 'over', 'lazy']

In [132]:
li1 = [1, 2, 3, 4, 5]
li2 = [1, 8,7, 6, 9]
for x in li1:
    for y in li2:
        if x == y:
            print(True)

True

In [133]:
x = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
x[1:4]

['Green', 'White', 'Black']

In [136]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

In [137]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i + j  for i, j in zip(list1, list2) ]

In [138]:
list3

['My', 'name', 'is', 'Kelly']

In [139]:
numbers = [1, 2, 3, 4, 5, 6, 7]
li = [i*i for i in numbers]
li

[1, 4, 9, 16, 25, 36, 49]

In [140]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
li3 = [x + y for x in list1 for y in list2]
li3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [142]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [147]:
#Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [148]:
res = list(filter(None, list1))
res

['Mike', 'Emma', 'Kelly', 'Brad']

In [158]:
#Add new item to list after a specified item
#Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [159]:
list1

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [161]:
list1[2]

[300, 400, [5000, 6000], 500]

In [164]:
list1[2][2].append(7000)

In [165]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [177]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

In [178]:
list1[2]

['c', ['d', 'e', ['f', 'g'], 'k'], 'l']

In [179]:
list1[2][1]

['d', 'e', ['f', 'g'], 'k']

In [180]:
list1[2][1][2]

['f', 'g']

In [181]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']

In [182]:
list1[2][1][2].extend(sub_list)

In [183]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [185]:
#Replace list’s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[3] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

In [186]:
index = list1.index(20)
list1[index] = 200
list1

[5, 10, 15, 200, 25, 50, 200]

In [188]:
#Remove all occurrences of a specific item from a list
list1 = [5, 20, 15, 20, 25, 50, 20]

In [189]:
val = 20
for i in list1:
    if i!=val:
        print(i)

5
15
25
50

In [190]:
list1.remove(20)

In [191]:
list1

[5, 15, 20, 25, 50, 20]

In [192]:
while 20 in list1:
    list1.remove(20)

In [193]:
list1

[5, 15, 25, 50]

In [194]:
#Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [195]:
d = dict(zip(keys, values))
d

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [196]:
# Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [197]:
new_dict = {**dict1, **dict2}
new_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [198]:
dict3 = dict1.copy()
dict3.update(dict2)

In [199]:
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [200]:
# Print the value of key ‘history’ from the below dict
sampleDict = {"class": {"student": {"name": "Mike", "marks": {"physics": 70,"history": 80}} }}

In [201]:
sampleDict['class']['student']['marks']['history']

80

In [202]:
# Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

In [203]:
res = dict.fromkeys(employees, defaults)
res

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [204]:
res['Kelly']

{'designation': 'Developer', 'salary': 8000}

In [206]:
dict = {}
for i in range(1, 10):
    dict[i] = i*i
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [208]:
sorted(dict.values(), reverse=True)

[81, 64, 49, 36, 25, 16, 9, 4, 1]